#apply()

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']] #열이름이 age와 fare인 
df['ten'] = 10
print(df.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10

In [3]:
def add_5(n):
  return n+5

In [4]:
for i in range(len(df)):
  df.iloc[i, 0] = add_5(df.iloc[i, 0])
print(df.age)

0      27.0
1      43.0
2      31.0
3      40.0
4      40.0
       ...
886    32.0
887    24.0
888     NaN
889    31.0
890    37.0
Name: age, Length: 891, dtype: float64

In [7]:
sr1 = df['age'].apply(lambda x: x*3-4)
print(sr1)

0       77.0
1      125.0
2       89.0
3      116.0
4      116.0
       ...
886     92.0
887     68.0
888      NaN
889     89.0
890    107.0
Name: age, Length: 891, dtype: float64

In [10]:
df1 = pd.DataFrame({'a':['a0','a1','a2','a3'],
                    'b':['b0','b1','b2','b3'],
                    'c':['c0','c1','c2','c3']},
                    index=[0,1,2,3])
print(df1)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

In [11]:
df2 = pd.DataFrame({'a':['a2','a3','a4','a5'],
                    'b':['b2','b3','b4','b5'],
                    'c':['c2','c3','c4','c5'],
                    'd':['d2','d3','d4','d5']},
                    index=[2,3,4,5])
print(df2)

    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

In [12]:
result1 = pd.concat([df1,df2])
print(result1)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [13]:
result1 = pd.concat([df1,df2], ignore_index=True)
print(result1)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
4  a2  b2  c2   d2
5  a3  b3  c3   d3
6  a4  b4  c4   d4
7  a5  b5  c5   d5

In [14]:
result1 = pd.concat([df1,df2])
result1.reset_index(drop=True,inplace=True)
print(result1)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
4  a2  b2  c2   d2
5  a3  b3  c3   d3
6  a4  b4  c4   d4
7  a5  b5  c5   d5

In [15]:
result2 = pd.concat([df1,df2], axis='columns')
print(result2)

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

In [16]:
result3 = pd.concat([df1,df2], axis='columns', join='inner')  #교집합 인덱스가 겹치는
print(result3)

    a   b   c   a   b   c   d
2  a2  b2  c2  a2  b2  c2  d2
3  a3  b3  c3  a3  b3  c3  d3

In [17]:
df = titanic.loc[:,['age','sex','class','fare','survived']]
print(df.head())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [22]:
df['class'].unique()
df['class'].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [19]:
grouped = df.groupby(['class'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fb1acee4450>

In [21]:
grouped_df={}
for key, group in grouped:
  print('key:', key)
  print('length:', len(group))
  grouped_df[key]=group
  print(group.head())

key: First
length: 216
     age     sex  class     fare  survived
1   38.0  female  First  71.2833         1
3   35.0  female  First  53.1000         1
6   54.0    male  First  51.8625         0
11  58.0  female  First  26.5500         1
23  28.0    male  First  35.5000         1
key: Second
length: 184
     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1
key: Third
length: 491
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [23]:
print(grouped_df['First'])

      age     sex  class     fare  survived
1    38.0  female  First  71.2833         1
3    35.0  female  First  53.1000         1
6    54.0    male  First  51.8625         0
11   58.0  female  First  26.5500         1
23   28.0    male  First  35.5000         1
..    ...     ...    ...      ...       ...
871  47.0  female  First  52.5542         1
872  33.0    male  First   5.0000         0
879  56.0  female  First  83.1583         1
887  19.0  female  First  30.0000         1
889  26.0    male  First  30.0000         1

[216 rows x 5 columns]

In [25]:
average = grouped.mean()
print(average) #그룹바이 한 경우에는 그룹별로 평균,최소,최대 등을 구할 수 있음

              age       fare  survived
class
First   38.233441  84.154687  0.629630
Second  29.877630  20.662183  0.472826
Third   25.140620  13.675550  0.242363

In [29]:
grouped_two = df.groupby(['class','sex'])

for key, group in grouped_two:
  print('key:', key)
  print('length:', len(group))
  print(group.head())

key: ('First', 'female')
length: 94
     age     sex  class      fare  survived
1   38.0  female  First   71.2833         1
3   35.0  female  First   53.1000         1
11  58.0  female  First   26.5500         1
31   NaN  female  First  146.5208         1
52  49.0  female  First   76.7292         1
key: ('First', 'male')
length: 122
     age   sex  class      fare  survived
6   54.0  male  First   51.8625         0
23  28.0  male  First   35.5000         1
27  19.0  male  First  263.0000         0
30  40.0  male  First   27.7208         0
34  28.0  male  First   82.1708         0
key: ('Second', 'female')
length: 76
     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
41  27.0  female  Second  21.0000         0
43   3.0  female  Second  41.5792         1
53  29.0  female  Second  26.0000         1
key: ('Second', 'male')
length: 108
     age   sex   class  fare  survived
17   NaN  male  Second  13.0         1
20  35.0  male  Second  26.0         0
21  34.0  male  Second  13.0         1
33  66.0  male  Second  10.5         0
70  32.0  male  Second  10.5         0
key: ('Third', 'female')
length: 144
     age     sex  class     fare  survived
2   26.0  female  Third   7.9250         1
8   27.0  female  Third  11.1333         1
10   4.0  female  Third  16.7000         1
14  14.0  female  Third   7.8542         0
18  31.0  female  Third  18.0000         0
key: ('Third', 'male')
length: 347
     age   sex  class     fare  survived
0   22.0  male  Third   7.2500         0
4   35.0  male  Third   8.0500         0
5    NaN  male  Third   8.4583         0
7    2.0  male  Third  21.0750         0
12  20.0  male  Third   8.0500         0

In [30]:
print(grouped_two.mean())

                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447

In [32]:
group3f = grouped_two.get_group(('Third', 'female'))
print(group3f.head())

     age     sex  class     fare  survived
2   26.0  female  Third   7.9250         1
8   27.0  female  Third  11.1333         1
10   4.0  female  Third  16.7000         1
14  14.0  female  Third   7.8542         0
18  31.0  female  Third  18.0000         0

In [33]:
dfg = grouped_two.mean()
print(dfg)

                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447

In [34]:
print(dfg.loc[('First','male')])

age         41.281386
fare        67.226127
survived     0.368852
Name: (First, male), dtype: float64

In [35]:
print(dfg.loc['First'])

              age        fare  survived
sex
female  34.611765  106.125798  0.968085
male    41.281386   67.226127  0.368852

In [37]:
print(dfg.xs('female', level='sex'))

              age        fare  survived
class
First   34.611765  106.125798  0.968085
Second  28.722973   21.970121  0.921053
Third   21.750000   16.118810  0.500000

In [38]:
df

      age     sex   class     fare  survived
0    22.0    male   Third   7.2500         0
1    38.0  female   First  71.2833         1
2    26.0  female   Third   7.9250         1
3    35.0  female   First  53.1000         1
4    35.0    male   Third   8.0500         0
..    ...     ...     ...      ...       ...
886  27.0    male  Second  13.0000         0
887  19.0  female   First  30.0000         1
888   NaN  female   Third  23.4500         0
889  26.0    male   First  30.0000         1
890  32.0    male   Third   7.7500         0

[891 rows x 5 columns]

In [40]:
pdf1 = pd.pivot_table(df,
                      index='class',
                      columns='sex',
                      values='age',
                      aggfunc='mean')
print(pdf1)
print(type(pdf1))

sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589
<class 'pandas.core.frame.DataFrame'>

In [41]:
pdf2 = pd.pivot_table(df,
                      index='class',
                      columns='sex',
                      values=['age','fare'],
                      aggfunc='mean')
print(pdf2)
print(type(pdf2))

              age                   fare
sex        female       male      female       male
class
First   34.611765  41.281386  106.125798  67.226127
Second  28.722973  30.740707   21.970121  19.741782
Third   21.750000  26.507589   16.118810  12.661633
<class 'pandas.core.frame.DataFrame'>

In [42]:
pdf3 = pd.pivot_table(df,
                      index='class',
                      columns='sex',
                      values='age',
                      aggfunc=['mean', 'sum','std'])
print(pdf3)
print(type(pdf3))

             mean                sum                 std
sex        female       male  female     male     female       male
class
First   34.611765  41.281386  2942.0  4169.42  13.612052  15.139570
Second  28.722973  30.740707  2125.5  3043.33  12.872702  14.793894
Third   21.750000  26.507589  2218.5  6706.42  12.729964  12.159514
<class 'pandas.core.frame.DataFrame'>

In [44]:
pdf4 = pd.pivot_table(df,
                      index=['class', 'sex'],
                      columns='sex',
                      values='age',
                      aggfunc='mean')
print(pdf4)
print(type(pdf4))

ValueError: ignored